# Application
HOST=0.0.0.0
PORT=3000

# PostgreSQL
DB_HOST=tech4um-db
DB_PORT=5432
DB_DATABASE=your_database
DB_USERNAME=user_bd
DB_PASSWORD=your_password
DB_SSL=false

# Environment
NODE_ENV=development
JWT_SECRET=your_jwt_secret_key
FRONTEND_URL=http://localhost:5173
VITE_API_URL=http://localhost:3000

# TypeORM
TYPEORM_SYNCHRONIZE=false
TYPEORM_LOGGING=true